<!-- 
Your page should have a few basic user interface elements:
-A header tag, with an h1 naming your site, with a title for your page
-A footer with your name, student ID, and any other info about yourself you wish to include
-A single unordered list with an id of results. All the arrays you have checked so far (until you refresh the page) will appear in this list as list items. Each item in the list will alternate the text colors starting with green, then red, then green, then red etc.

Your page will have a form with the following:
-A label with a for attribute referencing your input
-A input with a name and type of text
-A button to submit the form
 -->

<form method="POST" id="myForm">
  <div class="form-content">
    <label for="arrayInput"></label>
    <input type="text" id="arrayInput" name="arrayInput">
    <button type="submit" id="myBtn">Add Arrays</button>
    <br>
    <br>
  </div>
  <div class="form-group hidden" id="error-container">
    <div class="alert alert-danger text-goes-here">
    </div>
  </div>
  <div class="form-group hidden" id="result-container">
    <div class="alert alert-success text-goes-here">
    </div>
  </div>
</form>
        